*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background: url('./assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
}

#app {
  width: 100%;
  height: 100%;
}
